@import "../variables.scss";

.button {
  background-color: $navy;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $font-sans-serif;
  font-size: $font-size-xsmall;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  height: 30px;
  min-width: 15px;
  line-height: 30px;
  padding: 2px 12px;
  margin-right: 10px;
  cursor: pointer;

  margin-bottom: 10px;

  &:hover {
    background-color: $blue;
  }
}
