@import "../styles/global";

.post {
  h2 {
    margin-bottom: .5rem;
    margin-top: 4rem;
    opacity: .7;
  }
  h3 {
    opacity: .7;
    margin-bottom: .3rem;
  }
  p {
    margin-top: .5rem;
  }
}

.post-title {
  font-size: $font-size-large;
  color: $blue-grey;
  text-align: center;
  border-bottom: 2px solid rgba(34, 47, 62, .6);
}

.post-date {
  opacity: .6;
  color: $navy;
  margin-bottom: .5rem;
  margin-top: 0;
}

.post-image {
  margin-bottom: 1rem;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}