@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";

// 2. Override styles
@import "./variables.scss";

// 3. Import the rest of Bulma;
@import "~bulma/bulma";

// 4. Import additional files
@import "./spacing-helpers.scss";

// Inline code blocks
:not(pre) > code[class*="language"] {
  padding: 0.25em 0.5em 0.25em;
  background-color: #e8e8e8 !important;
  color: #f4494c !important;
  > * {
    color: inherit !important;
  }
  border-radius: 0 !important;
  font-size: 0.8em;
}

//Prism JS overrides for Bulma
.token.tag,
.token.content,
.token.number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}
