@import "../styles/variables";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

// Global Styles
html {
  // Makes 1rem === 10px
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  margin: 0px;
}

a {
  text-decoration: none;
  color: $blue;
}

.button {
  background-color: $navy;
  border-radius: 20px;
  display: inline-block;
  font-family: $font-sans-serif;
  font-size: $font-size-xsmall;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  height: 30px;
  min-width: 15px;
  line-height: 30px;
  padding: 2px 12px;
  margin-right: 10px;

  margin-bottom: 10px;

  &:hover {
    background-color: $blue;
  }
}

.alert {
  color: $navy;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin: 0 auto 3rem;
  border-radius: 0.25rem;
  line-height: 1.7;
  transition: ease all 0.5s;
  opacity: 0.7;
  text-align: justify;

  a:hover {
    font-weight: bolder;
  }
}
