// Inline code blocks
:not(pre) > code[class*="language"] {
  padding: 0.25em 0.5em 0.25em;
  background-color: #e8e8e8 !important;
  color: #f4494c !important;
  > * {
    color: inherit !important;
  }
  border-radius: 0 !important;
  font-size: 0.8em;
}
