// Inline code blocks
:not(pre) > code[class*="language"] {
  padding: 0.25em 0.5em 0.25em;
  background-color: #e8e8e8 !important;
  color: #f4494c !important;
  > * {
    color: inherit !important;
  }
  border-radius: 0 !important;
  font-size: 0.8em;
}

//Prism JS overrides for Bulma
.token.tag,
.token.content,
.token.number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}
