// Typography
$font-heading: "Montserrat", sans-serif;
$font-sans-serif: "Nunito Sans", sans-serif;

// Colors
$turquoise: #59dec9;
$melrose: #bcb6ff;
$cerise: #f61067;
$aquamarine: #6decaf;
$tangerine: #ffae03;
$silver: #757780;
$midnight: #001628;
$sapphire: #22577a;
$steel-blue: #5379b5;

/********
*********
Bulma Overrides
*********
********/

// Initial
$family-sans-serif: $font-sans-serif;

// Derived
$primary: white;
$info: $melrose;
$scheme-main: $midnight;
$scheme-main-bis: $midnight;
$background: $sapphire;
$text: $primary;
$text-strong: $turquoise;

// Layout
$link: $aquamarine;
$link-hover: $turquoise;
$body-line-height: 1.7;

// Navbar
$navbar-item-color: $steel-blue;

// Title
$title-family: $font-heading;

// Footer
$footer-padding: 1rem 1.5rem;
