@import "../styles/variables";

.about-profile {
  align-items: center;
  flex-direction: column;
  margin: 5rem auto 0;
  max-width: 50rem;
}

.about-picture {
  margin-bottom: 1.2rem;
  border-radius: 50%;
  box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.4);
}
