@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
//Update variables before importing Bulma
@import "../styles/variables.scss";
@import "~bulma/bulma.sass";
@import "../styles/shared/hero-image.scss";

.home-image {
  @extend .hero-image;
  max-height: 300px;
  margin-bottom: 8rem;
}

.site-title {
  padding-bottom: 2rem;
  border-bottom: 2px solid rgba(34, 47, 62, 0.5);
}
