@import "../styles/variables.scss";
@import "../styles/shared/buttons.scss";

$footer-height: 10rem;

.container {
  background-color: $navy;
  width: $site-width;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  width: $container-width;
  display: flex;
  justify-content: center;

  .footer {
    max-width: $site-width;
    color: $white;
    font-family: $font-heading;
    padding: 0px 20px 0px 20px;
    display: flex;
    align-self: center;
  }

  .row {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    align-items: center;
  }
}

.button-icon {
  @extend .button;
  background-repeat: no-repeat;
  background-position: center center;
}

.button-github {
  @extend .button-icon;
  background-image: url("../images/github.png");
}

.button-twitter {
  @extend .button-icon;
  background-image: url("../images/twitter.png");
  margin-right: 0px;
}

.button-linkedin {
  @extend .button-icon;
  background-image: url("../images/linkedin.png");
}

.footer-container {
  width: $site-width;
  display: flex;
  justify-content: space-between;
}
