.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;

  .button-icon {
    display: inline-flex;
    color: white;
    padding: 0.125em 0.75em;
    margin-right: 0.625em;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .button-github {
    @extend .button-icon;
    background-image: url("../images/github.png");
  }

  .button-twitter {
    @extend .button-icon;
    background-image: url("../images/twitter.png");
    margin-right: 0px;
  }

  .button-linkedin {
    @extend .button-icon;
    background-image: url("../images/linkedin.png");
  }
}
