@import "../styles/variables";

.container {
  position: relative;
  min-height: 100vh;

  .content {
    margin: 0 auto;
    max-width: $site-width;
  }

  main {
    @media screen and (min-width: 1px) and (max-width: 1000px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
