@import "../styles/variables";

.navbar {
  .navbar-item {
    opacity: 0.65;
    // font-family: $font-heading;
    font-weight: bold;

    &:hover {
      opacity: 1;
    }

    &:not(:last-child) {
      padding-right: 1.6em;
    }
  }
}
