@import "../styles/variables";
@import "../styles/shared/buttons.scss";

.container {
  max-width: $site-width;
  min-height: 8rem;
  margin: 0 auto;
  padding-top: 30px;

  .row {
    display: flex;
    justify-content: flex-end;
    padding: 5px;

    @media (max-width: $tablet - 1px) {
      margin-right: 2rem;
    }
  }

  .button-icon {
    @extend .button;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .button-github {
    @extend .button-icon;
    background-image: url("../images/github.png");
  }

  .button-twitter {
    @extend .button-icon;
    background-image: url("../images/twitter.png");
    margin-right: 0px;
  }

  .button-linkedin {
    @extend .button-icon;
    background-image: url("../images/linkedin.png");
  }

  .link {
    opacity: 0.65;
    font-family: $font-heading;
    font-size: $font-size-small;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }

    &:not(:last-child) {
      padding-right: 30px;
    }
  }
}
