@import "../styles/shared/buttons.scss";
@import "../styles/variables.scss";

.post-social {
  .button {
    margin: 0.5rem;
    @each $class, $color in $brand-colors {
      &.#{$class} {
        color: $color;
        border: 1px solid $color;
        background-color: #fff;
        &:hover {
          background-color: $color;
          border-color: $color;
          color: #fff;
        }
      }
    }

    .icon {
      margin-right: 0.5em;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}
