@import "../styles/global";

.container {
  text-align: center;
  text-transform: uppercase;
  color: $blue-grey;

  .title {
    font-family: $font-heading;
    font-size: $font-size-xxlarge;
    padding-bottom: 3rem;
    margin-bottom: 0;
    border-bottom: 2px solid rgba(34, 47, 62, .5);
    line-height: 1;
    margin-top: 0;
    text-align: center;

    @media (max-width: $tablet - 1px) {
     font-size: $font-size-large;
     padding-bottom: 2rem;
    }
  }

  .subtitle {
    font-size: 18px;
    font-weight: 100;
  }
}
