@import "../styles/global";

.container {
  text-align: center;
  text-transform: uppercase;
  color: $blue-grey;

  .title {
    font-family: $font-heading;
    font-size: $font-size-xlarge;
    margin-bottom: 2.5rem;
    padding-bottom: 3.5rem;
    border-bottom: 3px solid $blue-grey;
    line-height: 1;
    margin-top: 0;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 100;
  }
}
