@import '../styles/global';

.container {
  padding-bottom: 10px;
  margin-bottom: 10rem;
  margin-top: 10rem;
  text-align: center;
  text-transform: uppercase;
  color: $color-pallete-9;

  .title {
    font-family: $font-heading;
    font-size: $font-size-xlarge;
    margin-bottom: 2.5rem;
    padding-bottom: 3.5rem;
    border-bottom: 3px solid $color-pallete-9;
    line-height: 1;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 100;
  }
}
